<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta property="og:title" content="NameGame">
    <meta property="og:description" content="A multiplayer game for mobiles. Describe and guess the names of famous people and characters.">
    <meta property="og:image" content="~/favicon.ico">
    <title>NameGame</title>
    <link rel="shortcut icon" href="~/favicon.ico">
    <link asp-append-version="true" rel="stylesheet" type="text/css" href="~/css/style.css">
    <script defer asp-append-version="true" type="text/javascript" src="~/js/signalr.min.js"></script>
    <script defer asp-append-version="true" type="text/javascript" src="~/js/react.production.min.js"></script>
    <script defer asp-append-version="true" type="text/javascript" src="~/js/react-dom.production.min.js"></script>
    <script defer asp-append-version="true" type="text/javascript" src="~/js/babel.min.js"></script>
    <script defer asp-append-version="true" type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script defer asp-append-version="true" type="text/javascript" src="~/js/chart.js"></script>
</head>
@RenderBody()
</html>